
# Entorno virtual
venv/
trueke-env/

# Archivos de Python
__pycache__/
*.py[cod]

# Base de datos
*.sqlite3
db.sqlite3

# Archivos de entorno
.env

# Archivos de log
*.log

# Archivos temporales
*.bak
*.swp
.DS_Store
Thumbs.db

# Configs de IDEs (VS Code, PyCharm, etc.)
.vscode/
.idea/

# Media y uploads
media/

# Carpeta para pruebas locales
objetos/

readme.md